body {
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: black;
        margin: 0;
        padding-left: 10px; padding-right: 5px;}
@media (min-width: 768px) {
    body {
        font-size: 20px;}}
h1, h2, h3, body, a {
    font-family: Helvetica, sans-serif;}
    h1 {
        text-transform: lowercase;
        font-size: 2.2rem; color:black;
        border-bottom: 2px solid #000000;
        padding-bottom: 3px;}
        h1::first-letter {
            text-transform: uppercase;}
    h2 {
        font-size: 1.7rem; font-weight: 400;
        color: #d747ff;}
    h3 {
        font-size: 1.7rem; font-weight: 400; color: #ff47d4;}
        .amount {
        color: #a97a99;}
a {
    color: #5d0093; font-size: 1.5rem; font-weight: 600;
    display: block; text-align: right;
    padding-right: 10px;
    margin-top: -15px;
    text-decoration: none;}
    a.mini {
        font-size: 18px; color: #6e0096;
        display: inline-block;}
.list-bold {
    font-weight: 600;
    height: 50px;
    display: block;
    margin-bottom: -25px; margin-top: 20px;}
    .instructions-bold {
        font-size: 1.25rem; font-weight: 600;
        color: #8c6986;}
    ul.ingredients { 
        line-height: 1.7;
        padding-left: 30px;}
        .ingredient-list { 
            width: 250px;}
        .ingredient-list li {
            padding: 8px 12px;}
    ol.instructions{
            line-height: 1.7;}
        li.instruction {
            padding-bottom: 20px;}
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;}
    .ingredients {
        margin-top: -10px;
        flex: 1 1 100px;
        list-style: none;}
    .instructions {
        margin-top: -15px;
        flex: 2 1 300px;}